<footer
  style="
    background-image: url(https://github.com/a50134/project/blob/main/img/footer-bg.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="d-flex flex-lg-row flex-column d-sm-flex d-md-flex text-center text-lg-start"
        >
          <a
            href="index.html"
            class="d-lg-flex align-items-center mb-3 link-dark text-decoration-none pt-10 mb-8"
          >
            <img
              src="../assets/images/svg/logo_on dark.svg"
              alt="logo_on dark"
              class="d-inline-block align-text-top"
            />
          </a>
        </div>

        <ul
          class="nav justify-content-start d-none d-sm-none d-md-none d-lg-flex"
        >
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/instagram.svg" alt="instagram"></a>
          </li>
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/youtube.svg" alt="youtube"></a>
          </li>
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/facebook.svg" alt="facebook"></a>
          </li>
          <li class="nav-item footer">
            <a href="#" class="social"><img src="../assets/images/icon/tiktok.svg" alt="tiktok"></a>
          </li>
        </ul>
      </div>
      <div
        class="col-lg-8 d-lg-flex justify-content-around align-lg-items-center flex-lg-row flex-column d-flex d-sm-flex d-md-flex d-lg-flex text-center text-lg-start"
      >
        <div class="link-light pt-10">
          <h3 class="h3 mb-6 mb-lg-7">關於</h3>
          <ul class="list-unstyled text-t-m">
            <li>
              <a href="story.html" class="text-decoration-none link-light mb-2 mb-lg-4" 
                >關於我們</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none link-light mb-2 mb-lg-4">隱私權政策</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none link-light">免責申明</a>
            </li>
          </ul>
        </div>
        <div class="link-light text-t-m pt-10">
          <h3 class="h3 mb-7">服務</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none link-light">廣告合作</a>
            </li>
          </ul>
        </div>
        <div class="link-light text-t-m pt-10">
          <h3 class="h3 mb-7">聯絡方式</h3>
          <ul class="list-unstyled mb-2 mb-lg-4 ">
            <li>
              <a href="tel:+" class="mb-2 mb-lg-4">電話號碼：0900-000-000</a>
              </li>
            <li>
              <a href="mailto:" class="text-decoration-none link-light">信箱：B9.ineedthat@gmail.com</a>
            </li>
          </ul>
        </div>
        <ul
          class="nav justify-content-start flex-lg-row d-flex d-sm-flex d-md-flex d-lg-flex d-lg-none justify-content-center mt-10 mb-8"
        >
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/instagram.svg" alt="instagram"></a>
          </li>
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/youtube.svg" alt="youtube"></a>
          </li>
          <li class="nav-item me-6 footer">
            <a href="#" class="social"><img src="../assets/images/icon/facebook.svg" alt="facebook"></a>
          </li>
          <li class="nav-item footer">
            <a href="#" class="social"><img src="../assets/images/icon/tiktok.svg" alt="tiktok"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-top">
    <p class="text-center text-light text-t-r py-2">
      B-9 © 2025 All Rights Reserved
    </p>
  </div>
</footer>
