<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container mx-md-12">
    <a aria-current="page" href="index.html" class="me-auto"
      ><img
        src="https://github.com/a50134/project/blob/main/img/logo_on%20light.png?raw=true"
        alt="logo_on light"
        class="navbar-brand"
      />
    </a>

    <form class="d-flex search-box">
      <input
        type="text"
        class="form-control text-t-m d-none d-sm-none d-md-block neu40 search-input"
        placeholder="輸入商品名稱"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondaryv p-md-3"
        type="button"
        id="button-addon2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </form>

    <ul class="navbar-nav d-flex justify-content-center align-items-center">
      <!-- <li class="nav-item">
                            <a class="navbar-brand  " aria-current="page" href="index.html"><img src="/專案/img/logo_on light.svg" alt="logo_on light" class="d-inline-block align-text-top img-logo">
                    
                            </a>
                        </li> -->
      <!-- <li class="nav-item d-flex ms-auto me-3">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control text-t-m" placeholder="輸入商品名稱" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </button>
                            </div>
                            
                        </li> -->
      <li class="nav-item d-none d-sm-none d-md-none d-lg-block">
        <a class="nav-link text-t-m brand-text" href="story.html">品牌介紹</a>
      </li>
      <li class="nav-item d-none d-sm-none d-md-none d-lg-block">
        <a class="nav-link text-t-m" href="product.html">所有商品</a>
      </li>
      <li class="nav-item d-none d-sm-none d-md-none d-lg-block">
        <a class="nav-link p-lg-4" href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-cart3 neu80"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
            />
          </svg>
        </a>
      </li>
      <!-- <li class="nav-item bg-pdark">
                            <a class="nav-link neu0 text-t-m" href="product.html">註冊 / 登入</a>
                            
                        </li> -->
    </ul>
    <a
      class="btn btn-login text-t-m d-none d-sm-none d-md-none d-lg-block p-lg-4 p-md-3"
      href="product.html"
      >註冊 / 登入</a
    >
    <a href="" class="d-block d-sm-block d-md-block d-lg-none menu-color"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        /></svg
    ></a>
  </div>
</nav>
