.btn-pdark{
    background: #1D6617;
    color: #ffffff;
    padding: 16px;
}
.btn-pdark:hover,.btn-pdark:active{
    background: #598E71;
    color: #ffffff;
    padding: 16px;
}

.btn-outline-pdark{
    border: 1px solid #1D6617 ;
    background: #ffffff;
    color: #1D6617;
    padding: 16px;
}
.btn-outline-pdark:hover,.btn-outline-pdark:active{
    background: rgba(89, 142, 113, 0.25);
    color: #1D6617;
    padding: 16px;
}

.btn-white{
    background: #ffffff;
    color: #1E1E1E;
    padding: 12px 24px;
}
.btn-white:hover,.btn-white:active{
    background: #598E71;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
}

@media (max-width: 768px) {
    .btn-pdark{
        padding: 12px;
    }
    .btn-pdark:hover,.btn-pdark:active{
    background: #598E71;
    color: #ffffff;
    padding: 12px;
}

    .btn-outline-pdark{
        padding: 12px;
    }
    .btn-white{
        padding: 8px 16px;
    }
}