<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel="stylesheet" href="../assets/css/product.css">
    <!-- 引入 Material Outlined -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

   <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="container d-none d-sm-none d-md-none d-lg-block mt-3 py-40">
  <ol class="breadcrumb text-t-m">
    <li class="breadcrumb-item "><a href="#" class="neu40 text-decoration-none">首頁</a></li>
    <li class="breadcrumb-item active breadcrumb-item-color " aria-current="page">所有商品</li>
  </ol>
</nav>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col ">
                <h5 class="h5 px-4 py-12 mt-4">商品列表</h5>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item mt-3 ">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button text-t-m " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            分類
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show px-4" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body text-t-m ">
                                <button type="button" class="list-group-item list-group-item-action border-0 active px-4 py-12">所有商品</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 px-4 py-12">香水</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 px-4 py-12">擴香／香氛蠟燭</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 px-4 py-12">手工皂／香氛護膚</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 px-4 py-12">精油／薰香</button>
                               
                            </div>
                            <div class="list-group text-t-m mt-3 px-4 py-12 d-block d-sm-block d-md-block d-lg-none">
                                <p class="text-t-r label-line neu60 ">熱門專區</p>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">生活小物的靜謐時光</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">仲夏香氛特調節</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">來自大自然的香氣防護</button>
                                
                            </div>
                            <div class="list-group text-t-m mt-3 px-4 py-12 d-block d-sm-block d-md-block d-lg-none">
                                <div class="text-t-r label-line neu60 ">日常專區</div>
                                
                              
                                <button type="button" class="list-group-item  list-group-item-action border-0 neu80">默默熱賣中</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">為日常加點心意</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">這個季節剛剛好｜生活選物限時提案</button>
                                
                            </div>
                            <div class="list-group text-t-m mt-3 px-4 py-12 d-block d-sm-block d-md-block d-lg-none">
                                
                                <div class="text-t-r label-line neu60 ">風格特色</div>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">日常療癒・文青系</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">俐落品味・都會控</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80">純粹自然・健康派</button>
                                <button type="button" class="list-group-item list-group-item-action border-0 neu80" >溫暖幸福・家居族</button>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
              
                
                
                 <div class="list-group text-t-m mt-3 px-4 py-12 d-none d-sm-none d-md-none d-lg-block">
                    <p class="text-t-r label-line neu60 ">熱門專區</p>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">生活小物的靜謐時光</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">仲夏香氛特調節</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">來自大自然的香氣防護</button>
                    
                </div>
                 <div class="list-group text-t-m mt-3 px-4 py-12 d-none d-sm-none d-md-none d-lg-block">
                    <div class="text-t-r label-line neu60 ">日常專區</div>
                    
                   
                    <button type="button" class="list-group-item  list-group-item-action border-0 neu80">默默熱賣中</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">為日常加點心意</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">這個季節剛剛好｜生活選物限時提案</button>
                    
                </div>
                 <div class="list-group text-t-m mt-3 px-4 py-12 d-none d-sm-none d-md-none d-lg-block">
                    
                    <div class="text-t-r label-line neu60 ">風格特色</div>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">日常療癒・文青系</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">俐落品味・都會控</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80">純粹自然・健康派</button>
                    <button type="button" class="list-group-item list-group-item-action border-0 neu80" >溫暖幸福・家居族</button>
                </div>
             </div>
            <div class="col-lg-9 ">
              <div class="mb-40 d-lg-flex justify-content-around">

                <h3 class="h3 me-auto d-none d-sm-none d-md-none d-lg-block" >所有商品</h3><span class="text-t-m ">共有 17,204 項</span>
              </div>
                
                <div class="row row-cols-2 row-cols-lg-3 g-4 ">
                    <div class="col">
                        <div class="card h-100 ">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil1.jpg?raw=true" class="card-img-top" alt="oil1">
                                <div class="card-body">
                                    <p class="text-t-r neu60">森呼吸</p>
                                    <h5 class="card-title h5">森林系木質精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil2.jpg?raw=true" class="card-img-top" alt="oil2">
                                <div class="card-body text-start">
                                    <p class="text-t-r neu60">靜夜語</p>
                                    <h5 class="card-title h5">助眠放鬆精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                            
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil3.jpg?raw=true" class="card-img-top" alt="oil3">
                                <div class="card-body">
                                    <p class="text-t-r neu60">日光森森</p>
                                    <h5 class="card-title h5">提振早晨精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil4.png?raw=true" class="card-img-top " alt="oil4">
                                <div class="card-body">
                                    <p class="text-t-r neu60">晨光之書</p>
                                    <h5 class="card-title h5">靈感專注精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil5.jpg?raw=true" class="card-img-top" alt="oil5">
                                <div class="card-body">
                                    <p class="text-t-r neu60">櫻霞落日</p>
                                    <h5 class="card-title h5">療癒少女系精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil6.jpg?raw=true" class="card-img-top" alt="oil6">
                                <div class="card-body">
                                    <p class="text-t-r neu60">琥珀之夜</p>
                                    <h5 class="card-title h5">溫感香調精油</h5>
                                    <h6 class="h6 pdark">NT$ 399</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil7.png?raw=true" class="card-img-top" alt="oil7">
                                <div class="card-body">
                                    <p class="text-t-r neu60">幻光晨曦</p>
                                    <h5 class="card-title h5">清新能量精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil8.jpg?raw=true" class="card-img-top" alt="oil8">
                                <div class="card-body">
                                    <p class="text-t-r neu60">清新檸香</p>
                                    <h5 class="card-title h5">浪漫微甜精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card h-100 d-none d-sm-none d-md-none d-lg-block">
                            <a href="" class="link-dark text-decoration-none">

                                <img src="https://github.com/a50134/project/blob/main/img/oil9.png?raw=true" class="card-img-top" alt="oil9">
                                <div class="card-body">
                                    <p class="text-t-r neu60">琉璃秘境</p>
                                    <h5 class="card-title h5">冥想放空精油</h5>
                                    <h6 class="h6 pdark">NT$ 599</h6>                     
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center text-t-m mt-40 mb-72  ">
                        <li class="page-item disabled">
                            <a class="page-link neu40" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li class="page-item active "><a class="page-link bg-success" href="#">1</a></li>
                        <li class="page-item"><a class="page-link page-neu80" href="#">2</a></li>
                        <li class="page-item"><a class="page-link page-neu80" href="#">3</a></li>
                        <li class="page-item"><a class="page-link page-neu80" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link neu80" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                            </a>
                        </li>
                    </ul>
                </nav>
        
            </div>
            
        </div>
    </div>
</main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
