:root {
  --primary-100: #598E71;
  --primary-dark: #1D6617;
  --neutral-0: #FFFFFF;
  --neutral-20: #E8E8E8;
  --neutral-40: #9D9D9D;
  --neutral-60: #575757;
  --neutral-80: #1E1E1E;
  --primary-100-15: #598E7126;
  --neutral-40-50: #9D9D9D80;
  --bgc-green: #F6F9EB;
  --Azure-blue: #007FFF;
  --green: #00B900;
  --google-red: #EB4537;
}
